/* Este es un comentario en CSS

Para modificar ID usamos #

Para modificar clases usamos .


*/

/*

Selectores

    - Selectores por etiqueta

        Son una instruccion que podemos usar para seleccionar nuestras etiquetas de HTML. Los selectores son una manera de identificar una etiqueta en particular.
        Una vez que seleccionamos nuestro elemento, abriremos llaves para poder modificar sus propiedades. Cerramos las llaves cuando terminemos de modificar.

    - Selectores por Clase

        Cuando usamos una clase, podemos realizar la misma modificacion para todos los elementos que tengan esa clase.

    - Selectores por Id

        Usar un id es una manera de identificar un elemento en particular con un identificador unico.


    Podemos utilizar varias clases en un mismo elemento, pero solo podemos utilizar un id. También es importante mencionar que cuando hacemos uso de estos estilos en etiqutas, se consideran cajas (model box o box model). 

    Este modelo es muy util porque nos permite crear pequeños elementos que se pueden combinar para crear una caja.
*/


.salon {
    color: blueviolet;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(196, 196, 201);
}

#adriana{
    color: blue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#rodrigo{
    color: red;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#edgar{
    color: purple;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sandra{
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.generation {
    color: rgb(101, 139, 139);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#felipe{
    color: orange;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paquete{
    padding: 20px;
    border: 5px solid brown;
    margin: 15px;
}
/* Estilo del borde, tenemos estilos como dashed, dotted, solid, double, groove, ridge, inset, outset, none, hidden y podemos hacer un mix (superior, derecho, abajo e izquierda)*/

.paquete2{
    padding: 20px;
    border: 5px solid brown;
    margin: 20px;
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 20px;
}

#facebook{
    background-color: blue;
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
#instagram{
    background-color: rgb(176, 84, 252);
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
/*background-image:url(ruta-imagen); */
#twitter{
    background-color: rgb(12, 139, 243);
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
#youtube{
    background-color: rgb(255, 0, 0);
    background-image: url(/assets/img/jujutsu.jpg);
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
